@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $bg-color;
}

button,
select,
input,
textarea {
	font-family: 'Poppins', sans-serif;
}

.primary-button, .secondary-button {
	background-color: $pink;
	border: none;
	@include FontBase(600, 1rem, white);
	border-radius: 8px;
	padding: 8px 35px;
}

.secondary-button{
	background-color: white;
	border: 1px solid black;
	color: black;
}
